---
import { twMerge } from "tailwind-merge";
import Tag from "./icons/Tag.astro";
import { Image } from "astro:assets";

interface Props {
  date: Date;
  excerpt?: string;
  href: string;
  image?: string;
  alt?: string;
  title: string;
  tags: string[];
  class?: string;
}

const {
  class: className,
  title,
  date,
  image,
  alt,
  excerpt,
  href,
  tags,
} = Astro.props;
---

<a href={href}>
  <article
    class={twMerge(
      className,
      "rounded-lg bg-gray-50 dark:bg-slate-900 @lg:p-5 @lg:drop-shadow-xl transition-colors duration-300 hover:bg-gray-100 md:max-w-screen-md dark:hover:bg-slate-800",
    )}
  >
    <h1 class="font-serif text-3xl">{title}</h1>
    <div class="mt-4 flex items-end justify-between">
      <div>
        <h2 class="inline text-xs font-bold">{date.toDateString()}</h2>
      </div>
      <ol class="space-x-2 text-right">
        {
          tags.map((tag) => (
            <li class="inline">
              <span class="text-xs">
                <Tag class="inline" />
                {tag}
              </span>
            </li>
          ))
        }
      </ol>
    </div>
    <p class="mt-4 text-lg">{excerpt}</p>
  </article>
</a>
