---
import { twMerge } from "tailwind-merge";
import Tag from "./icons/Tag.astro";
import { Image } from "astro:assets";

interface Props {
  date: Date;
  excerpt?: string;
  href: string;
  image?: string;
  alt?: string;
  title: string;
  tags: string[];
  class?: string;
}

const {
  class: className,
  title,
  date,
  image,
  alt,
  excerpt,
  href,
  tags,
} = Astro.props;
---

<article
  class={twMerge(
    className,
    "rounded-lg border bg-neutral-50 p-5 drop-shadow-xl md:max-w-screen-sm lg:max-w-screen-md hover:bg-neutral-100 transition-colors duration-300",
  )}
>
  <a href={href}>
    <h1 class="font-serif text-3xl">{title}</h1>
    <div class="mt-4 flex items-end justify-between">
      <div>
        <h2 class="inline text-xs font-bold">{date.toDateString()}</h2>
      </div>
      <ol class="space-x-2 text-right">
        {
          tags.map((tag) => (
            <li class="inline">
              <span class="text-xs">
                <Tag class="inline" />
                {tag}
              </span>
            </li>
          ))
        }
      </ol>
    </div>
    {
      image && (
        <Image
          width={500}
          height={500}
          src={image}
          alt={alt || title}
          class="mt-1 h-96 w-full rounded object-cover"
        />
      )
    }
    <p class="mt-4 text-lg">{excerpt}</p>
  </a>
</article>
